* {
    font-family: "Fira Sans Extra Condensed", sans-serif;
}
.LanguageSelector {
    position: fixed;
    right: 0;
    top: 10px;
}
.LanguageSelector label {
    color: white;
    font-size: 15px;
}
.LanguageSelector-select {
    color: white;
    font-weight: bold;
    background-color: #1e1e1f;
}
